
ParallaxEffect/ParallaxEffect.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ParallaxEffect/ParallaxEffect.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ParallaxEffect/ParallaxEffect.xcodeproj/project.xcworkspace/xcuserdata/adso0001.xcuserdatad/UserInterfaceState.xcuserstate
ParallaxEffect/ParallaxEffect.xcodeproj/xcuserdata/adso0001.xcuserdatad/xcschemes/xcschememanagement.plist
